---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">


    <link rel="icon" type="image/svg+xml" href="/a8Pr1t01 (2).svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{"Shiddhartha"}</title>
  </head>
  <body>
    <slot />
    <div class="page-footer">
    <p><strong>Shiddhartha Pal</strong> — Software Engineer</p>
    <p>B.Sc. in Software Engineering, Daffodil International University</p>
    <p>Dhaka, Bangladesh</p>
  </div>
  </body>
</html>

<style is:global>
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  [data-theme="dark"] {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
</style>
